html{
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --grey: #1d1d1d;
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: apecru;
    src: url(../fonts/Apercu-Font/Apercu\ medium.otf);

}
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak/futurak.ttf);
}
body{
    font-family: inter;
}
/* navbar started */
.main-logo{
   width: 165px ;
}
nav>a{
    font-size: 1.6rem;
    color: #ffffff;
    margin-top: 20px;
}
nav>button{
    font-size: 1.4rem;
    
}
.get-btn{
 border: 1px solid var(--white);
 background-color: transparent;
 color: var(--white);
 border-radius: 30px;
 padding: 10px 10px;
}
.order-btn{
 border: 0px;
 border-radius: 30px;
 background-color: var(--red);
 padding: 15px 20px;
 color: var(--white);
}
.arrow-icon{
    font-size: 1.8rem;
    background-color: var(--white);
    color: var(--red);
    padding: 5px 5px;
    border-radius: 20px;
    gap: 5px;

    }