html{
    font-size: 62.5%;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --grey: #1d1d1d;
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: apecru;
    src: url(../fonts/Apercu-Font/Apercu\ regular.otf);

}
@font-face {
    font-family: futurak;
    src: url(../fonts/futurak/futurak.ttf);
}
body{
    font-family: inter;
}
/* navbar started */
.main-logo{
   width: 165px ;
}
nav>a{
    font-size: 1.6rem;
    color: #ffffff;
    margin-top: 20px;
}
nav>button{
    font-size: 1.4rem;
    
}
.get-btn{
 border: 1px solid var(--white);
 background-color: transparent;
 color: var(--white);
 border-radius: 30px;
 padding: 10px 10px;
}
.order-btn{
 border: 0px;
 border-radius: 30px;
 background-color: var(--red);
 padding: 15px 20px;
 color: var(--white);
}
.sp-head{
    padding: 0px 30px ;
    margin: 0px 20px;
    /* padding-top: 0px; */
    /* margin-top: 0px; */

}
.arrow-icon{
    font-size: 1.8rem;
    background-color: var(--white);
    color: var(--red);
    padding: 5px 5px;
    border-radius: 20px;
    gap: 5px;

    }
    /* navbar ended */
.bg-1{
    width: 100%;
}
/* our brands started */
.our-brands{
    font-size: 1.6rem;
    padding-top: 70px;
    padding-bottom: 130px;
    padding-left: 15px;
    padding-right: 15px;

}
.head-01{
font-family: apecru;
font-size: 4rem;
font-weight: lighter;
}
.sp1{
    font-size: 5.2rem;
    font-family: futurak;
}
.brand-container{
    
    /* background-color: var(--white); */
    padding: 0 19px;
}
.brand1{
    background-color:var(--white);
    width: 212px;
}
.brand-btn1{
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    /* margin: 24px 19px 0px; */
    padding: 10px 45px;

}